@{
    ViewBag.Title = "Home";
}

@section scripts{   
    <!--Google Analytics-->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-48461868-1', '3dprotek.com');
        ga('send', 'pageview');
	</script>
}

<div ng-view=""></div>

<section class="social">
    <div class="container-fluid">
        <div class="col-md-6 col-md-offset-3">
            <ul class="list-inline">
                <li><a href="https://www.facebook.com/3dprotek" target="_blank"><div class="facebook" title="Facebook"></div></a></li>
                <li><a href="https://twitter.com/3dprotek" target="_blank"><div class="twitter" title="Twitter"></div></a></li>
                <li><a href="http://www.pinterest.com/3dprotek" target="_blank"><div class="pinterest" title="Pinterest"></div></a></li>
                <li><a href="https://plus.google.com/109737055330683998269/posts" target="_blank"><div class="googleplus" title="Google+"></div></a></li>
            </ul>    
            
        </div>
    </div>
</section>