@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="slides">
            <img src="~/Images/slide1.jpg" />
        </div>
        @*<div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>           
        </div>*@
    </section>
}

<section id="PYO" class="PYO">
    <div class="container-fluid">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2>Print Your Own</h2>

            <p>Choose your file under the .TSL format and upload it to us using the icon below. dusan cezak dusan cezak dusan cezak dusan cezak dusan cezak dusan cezak dusan cezak dusan cezak</p>
        </div>
        <div class="col-md-3"></div>
    </div>
</section>

<section id="library" class="library">
    <div class="container-fluid">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2>Our Library</h2>
            blblblblblblblba
        </div>
        <div class="col-md-3"></div>
    </div>
</section>

<section class="social">
    <div class="container-fluid">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2>Connect With Us</h2>
            Facebook Twitter...
        </div>
        <div class="col-md-3"></div>
    </div>
</section>