<section class="about-page">
    <!--<div class="container-fluid">        
            <img class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2" alt="About Us" src="../../Images/about.jpg" />        
    </div>-->
    <div class="container-fluid">
        <div class="about1 col-md-3 col-md-offset-2">
            We create an open environment to the 3D printing technology. A good place to discuss and empower each others in developing 3D technology skills and knowledge.
        </div>
        <div class="about2 col-md-3 col-md-offset-2">
            We help to bring your creativity to life. Whenever you have an idea of a 3D model, we are always here to help you transforming your idea to a real 3D object.
        </div>
    </div>

    <div class="container-fluid">
        <br /><br />
        <p class="col-md-6 col-md-offset-3">
            Sorry! 3DProTek website is currently under construction. We will provide our information shortly and look forward to seeing you again soon. In the mean time, you can check out our social media sites for more information about us. Thank you very much.
        </p>
    </div>
</section>