<section class="contact-page">
    <div class="container-fluid">
        <img class="col-xs-12 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1" alt="Contact Us" src="../../Images/contactus.jpg" />
    </div>

    <div class="container-fluid">
        <p class="col-md-6 col-md-offset-3">
            Sorry! 3DProTek website is currently under construction. We will provide our contact details shortly and look forward to seeing you again soon. In the mean time, you can check out our social media sites for more information about us. Thank you very much.
        </p>
    </div>
</section>