.menu li
{
    margin-right: 30px;
    font-size: 22px;
}

.featured .slides, .featured .slides img
{
    width: 100%;
}

.PYO
{
    background-color: #8fe5f2;
    min-height: 330px;
    text-align: center;
    padding-top: 50px;
}

.PYO .viewmore
{
    margin-top: 50px;
}

.library
{
    background-color: #fff;
    min-height: 400px;
}

.social
{
    background-color: #efac9e;
    min-height: 150px;
}

footer
{
    background-color: #484747;
    color: #bbb;
    padding: 20px;
}
.navbar-brand
{
    padding: 0 !important;
    font-size: 28px !important;
    margin-top: 20px;
}

.navbar-toggle .icon-bar
{
    background-color: #bbb;
}

.navbar-brand-subtext
{
    font-size: 18px !important;
    color: #40afc9;
}



