body
{
    font-family: Verdana, Tahoma !important;
}

.navbar-brand
{
    margin-bottom: 20px;
}

.navbar ul
{
    margin-bottom: 0 !important;
}

.navbar a:hover, .navbar a:focus
{
    text-decoration: none !important;
}

.menu li
{
    font-size: 13pt;
    padding: 15px 30px 4px 30px !important;
    text-align: center;
}

.menu li.active
{
    border-bottom: 2px solid #eee;
}

.menu li .sub
{
    font-size: 11pt;
    color: #888;
}

.featured .slides, .featured .slides img
{
    width: 100%;
}

.contact-page, .about-page, .pyo-page, .our-designs-page
{
    text-align:center;
}

section h2
{
    color: #D9673F;
    text-align:center;
}

section p
{
    color: #555555;
    font-size: 13pt;
}

.PYO
{
    background-color: #8fe5f2;
    text-align: center;
    padding: 50px 0 30px 0;
}

.viewmore
{
    margin-top: 30px;
}

.our-3d-models .viewmore
{
    font-size: 13pt;
}

.our-3d-models
{
    background-color: #fff;    
    padding: 20px 0;
    text-align: center;
}

.our-3d-models img
{
    width: 100%;
}

.our-3d-models .featured-item
{
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px;
}

.our-3d-models .options, .our-3d-models .model-name
{
    padding-top: 5px;
}

.our-3d-models .options a
{
    margin-top: 5px;
}

.our-3d-models .model-name
{
    
}

.social
{
    background-color: #efac9e;
    min-height: 150px;
    padding: 50px 0 30px 0;
    text-align: center;
}

footer
{
    background-color: #484747;
    color: #bbb;
    padding: 20px;
}
.navbar-brand
{
    padding: 0 !important;
    font-size: 28px !important;
    margin-top: 30px;
}

.navbar-toggle .icon-bar
{
    background-color: #bbb;
}

.navbar-brand-subtext
{
    font-size: 18px !important;
    color: #40afc9;
}

.social ul li
{
    margin: 0 20px;
}

.social a div
{
    width: 92px;
    height: 92px;
}

.social .facebook
{
    background: transparent url("../images/facebook.png") no-repeat left top;    
}

.social .facebook:hover
{
    background: transparent url("../images/facebook.png") no-repeat left 100%;    
}

.social .twitter
{
    background: transparent url("../images/twitter.png") no-repeat left top;    
}

.social .twitter:hover
{
    background: transparent url("../images/twitter.png") no-repeat left 100%;    
}

.social .pinterest
{
    background: transparent url("../images/pinterest.png") no-repeat left top;    
}

.social .pinterest:hover
{
    background: transparent url("../images/pinterest.png") no-repeat left 100%;    
}

.social .googleplus
{
    background: transparent url("../images/googleplus.png") no-repeat left top;    
}

.social .googleplus:hover
{
    background: transparent url("../images/googleplus.png") no-repeat left 100%;    
}

.contact-page p
{
    margin-bottom: 50px;
}

.about1, .about2
{
    padding: 20px;
    margin-top: 30px;
}

.about1
{
    background-color: #c3d5af;
}

.about2
{
    background-color: #53d8be;
}